.TeamTile {
    height: 170px;
    text-align: center;
    border: 1px solid white;
    padding: 20px;


	  .logoImg{
        vertical-align:middle;
        width: 21%;
        height: 80%;
        object-fit: fill;
    }

} 